body
    background #efefef
    margin 0
    padding 0

    .header
        height 35px
        background #fff
        line-height 35px

        .icon-back
            content ''
            position absolute
            left 15px
            display block
            width 20px
            height 36px
            background url("../../../public/img/APP/loading/nav_back_icon@2x.png") no-repeat 0 center
            background-size 50%
        .header_title
            display inline-block
            width 100%
            text-align center
            font-weight bold
    .list
        height 40px
        background #fff
        margin-top 10px
        .list_need
            float left
            width 50%
            height 40px
            line-height 40px
            text-align center
        .list_from
            float left
            color #ea5404
            height 40px
            line-height 40px
            padding-left 40px
            width 35%
            border-bottom 1px solid #ea5404
    .content
        height 550px
        padding 15px
        .content_box
            height 535px
            .content_box_first
                padding 15px
                background white
                height 95px
                border-radius 5px
                margin-bottom 10px
                .tenant
                    margin-top -5px
                    float right
                    width 55px
                    height 25px
                    line-height 25px
                    font-size 12px
                    background #15b755
                    text-align center
                    color #fff
                    border-radius 3px
                .broker
                    background #0193e6
                    margin-top -5px
                    float right
                    width 55px
                    height 25px
                    line-height 25px
                    font-size 12px
                    text-align center
                    color #fff
                    border-radius 3px
                .busiess
                    background #97b715
                    margin-top -5px
                    float right
                    width 55px
                    height 25px
                    line-height 25px
                    font-size 12px
                    text-align center
                    color #fff
                    border-radius 3px
                .agent
                    background #ea5404
                    margin-top -5px
                    float right
                    width 55px
                    height 25px
                    line-height 25px
                    font-size 12px
                    text-align center
                    color #fff
                    border-radius 3px
                .content_box_first_img
                    height 4px
                    margin-top 10px
                    margin-bottom 5px
                    background url("../../../public/img/APP/need/content_list_border.9@2x.png") no-repeat
                .content_box_first-text
                    font-size 12px
                .realize
                    position absolute
                    left 40%
                    width 65px
                    height 25px
                    padding-left 20px
                    background #efeff4
                    color #707071
                    border-radius 5px
                    font-size 12px
                    line-height 25px
                    margin-top 5px
                .date
                    font-size 12px
                    float right
                    color #7f7f7f
                    margin-top 30px
