body
    background #EFEFF4
    margin 0
    padding 0
    .header
        height 35px
        background #fff
        line-height 35px
        .header_title
            display inline-block
            width 100%
            text-align center
            font-weight bold

    .login_box
        position  relative
        display flex
        height 95px
        padding 0 15px
        background #fff
        margin-top 10px
        .login_img
            position  relative
            top 50%
            width 64px
            height 64px
            margin-top -32px
            border-radius 50%
            background url("../../img/APP/me/log in_user-head@2x.png") no-repeat
            background-size cover
        .login_con
            flex:1
            padding-left 80px
            line-height 95px

        &:after
            content ''
            position absolute
            top 50%
            right 15px
            display block
            margin-top -18px
            width 20px
            height 36px
            background url("../../img/APP/about/content_list_icon_right@2x.png") no-repeat right center
            background-size 50%

    .s_box
        position relative
        background #fff
        height 45px
        border 1px solid #d6d7dc
        border-left 0
        border-right 0
        .s_left
            float left
            width 50%
            line-height 45px
            text-align center
        .s_right
            float left
            width 50%
            line-height 45px
            text-align center
    .link_cell
        position relative
        background #fff
        padding-left 25px
        line-height 50px
        margin-top 10px
        .link_img
            position absolute
            height 38px
            width 40px
            background url("../../img/APP/me/content_list_icon01@2x.png") no-repeat 0 15px
            background-size 19px 20px
        .link_con
            margin-left 25px
        .link_img1
            position absolute
            height 38px
            width 40px
            background url("../../img/APP/me/content_list_icon02@2x.png") no-repeat 0 15px
            background-size 19px 20px
        .link_img2
            position absolute
            height 38px
            width 40px
            background url("../../img/APP/me/content_list_icon02@2x.png") no-repeat 0 15px
            background-size 19px 20px
        .link_img3
            position absolute
            height 38px
            width 40px
            background url("../../img/APP/me/content_list_icon05@2x.png") no-repeat 0 15px
            background-size 19px 20px
        .link_img4
            position absolute
            height 38px
            width 40px
            background url("../../img/APP/me/content_list_icon03@2x.png") no-repeat 0 15px
            background-size 19px 20px
        .link_img5
            position absolute
            height 38px
            width 40px
            background url("../../img/APP/me/content_list_icon04@2x.png") no-repeat 0 15px
            background-size 19px 20px

        &:after
            content ''
            position absolute
            top 50%
            right 15px
            display block
            width 16px
            height 30px
            margin-top -15px
            background url("../../img/APP/about/content_list_icon_right@2x.png") no-repeat right center
            background-size 58%

    .bottom
        position fixed
        height 50px
        background #fff
        bottom 0
        left 0
        right 0
        .bottom-list
            list-style none
            font-size 12px
            .list-first
                float left
                color #b4b4b4
                background url("../../img/APP/bottom-bar/bottom_nor_icon04@2x.png") no-repeat
                background-size 95% 35%
                padding 25px 0
            .list-second
                float left
                margin-left 40px
                color #b4b4b4
                background url("../../img/APP/bottom-bar/bottom_nor_icon03@2x.png") no-repeat
                background-size 95% 35%
                padding 25px 0
            .list-third
                float left
                margin-left 40px
                width 88px
                height 66px
                background url("../../img/APP/bottom-bar/bottom_icon05@2x.png") no-repeat
                background-size 60% 80%
                margin-top -10px
            .list-forth
                float left
                margin-right 40px
                color #b4b4b4
                background url("../../img/APP/bottom-bar/bottom_nor_icon02@2x.png") no-repeat
                background-size 95% 35%
                padding 25px 0
            .list-fifth
                float left
                margin-right 40px
                color #b4b4b4
                background url("../../img/APP/bottom-bar/bottom_press_icon01@2x.png") no-repeat
                background-size 100% 25%
                padding 25px 0