body
    background #efefef
    margin 0
    padding 0


    .header
        height 35px
        background #fff
        line-height 35px

        .icon-back
            content ''
            position absolute
            left 15px
            display block
            width 20px
            height 36px
            background url("../../../public/img/APP/loading/nav_back_icon@2x.png") no-repeat 0 center
            background-size 50%
        .header_title
            display inline-block
            width 100%
            text-align center
            font-weight bold
    .need
        height 50px
        background #fff
        line-height 50px
        margin-top 15px
        padding-left 15px
        font-size 14px
        .bg-big
            width 50px
            height 30px
            float right
            margin-right 15px
            margin-top 10px
            background #ea5404
            border-radius 15px
            .bg-small
                width 30px
                background #fff
                height 30px
                border-radius 50%
    .about
        height 50px
        background #fff
        line-height 50px
        margin-top 15px
        padding-left 15px
        font-size 14px
        .img
            float right
            background url("../../../public/img/APP/me/content_list_right_icon@2x.png") no-repeat 0 15px
            width: 30px
            height: 30px
            background-size: 30%
        .text
            float right
            margin-right 50px
            font-size 12px
            color #9c9999
        .img1
            float right
            margin-right -80px
            background url("../../../public/img/APP/me/content_list_right_icon@2x.png") no-repeat 0 15px
            width: 30px
            height: 30px
            background-size: 30%
    .quit
        background #fff
        font-size 14px
        height 50px
        text-align center
        line-height 50px
        margin-top 30px