body
    background #efefef
    margin 0
    padding 0

    .header
        height 35px
        background #fff
        line-height 35px

        .icon-back
            content ''
            position absolute
            left 15px
            display block
            width 20px
            height 36px
            background url("../../../public/img/APP/loading/nav_back_icon@2x.png") no-repeat 0 center
            background-size 50%
        .header_title
            display inline-block
            width 100%
            text-align center
            font-weight bold
    .content
        height 95px
        margin-top 15px
        background url("../../../public/img/APP/index/content_img_list@2x.png") no-repeat 15px 15px #ffffff
        background-size 33%
        padding-top 20px
        padding-left 150px
        font-size 12px
        color #727272
        .head
            font-size 16px
            color #323232
            display inline-block
            margin-bottom 5px
            font-weight bold

        .thing
            float right
            margin-right 15px
            color #727272
        .text
            font-size 14px
        .business
            width 55px
            height 16px
            color #ea5404
            border 1px solid #ea5404
            border-radius 3px
            text-align center
            margin-top 5px
            margin-bottom 5px
        .price
            color #ea5404
            font-size 16px
            font-weight bold
        .commission
            float right
            margin-right 15px
            display inline-block
            margin-top 5px
