body
    background #b2b2b2

    .sure
        position absolute
        width 272px
        height 90px
        background #fff
        border-radius 10px
        text-align center
        padding-top 20px
        margin 0 auto
        top 40%
        left 15%
        .massage
            font-size 12px
            color #323232
        .line
            height 1px
            width 272px
            background #d6d7dc
            margin-top 20px
            margin-bottom 20px
        .success
            width 272px
            text-align center
            font-size 18px
            color #ff5524