<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <meta http-equiv="X-UA-COMPATIBLE" content="ie=edge ">
    <title>关于</title>
    <link rel="stylesheet" href="../../public/css/info/about.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">关于</span>
</header>
<div class="logo">
    <div class="logo-img"></div>
    <span class="project_name">未来空间</span>
    <span class="version">v1.0.0</span>
</div>
<div class="about">
    <span>电话</span>
    <span class="text">021-68547845</span>
    <div class="img1"></div>
</div>
<div class="about">
    <span>服务条款</span>
    <div class="img"></div>
</div>
<span class="copyright">©2016 All Right Reserved</span>
</body>
</html>