<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <title>收藏</title>
    <link rel="stylesheet" href="../../public/css/info/collection-need.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">收藏</span>
</header>
<div class="list">
    <div class="list_need">需求</div>
    <div class="list_from">房源</div>
</div>
<div class="content">
    <div class="content_box">
        <div class="content_box_first">
            <span>一个新的租房需求</span>
            <span class="tenant">租户</span>
            <div class="content_box_first_img"></div>
            <span class="content_box_first-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天，附近有地铁</span>
            <div class="realize">了解详情</div>
            <span class="date">08/04/13:06</span>
        </div>
        <div class="content_box_first">
            <span>一个新的租房需求</span>
            <span class="broker">经纪人</span>
            <div class="content_box_first_img"></div>
            <span class="content_box_first-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天，附近有地铁</span>
            <div class="realize">了解详情</div>
            <span class="date">08/04/13:06</span>
        </div>
    </div>
</div>
</body>
</html>