<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <meta http-equiv="X-UA-COMPATIBLE" content="ie=edge ">
    <title>关于</title>
    <link rel="stylesheet" href="../../public/css/info/my-from.css">
</head>
<body>
<div class="head-img">
    <div class="head-img-bar"></div>
</div>
<div class="text">
    <span class="text-left">￥354615</span>
    <span class="date">元/月</span>
    <span class="number">1</span>
    <span class="month">/12</span>
</div>
<div class="content">
    <table class="list" cellpadding="0" cellspacing="0">
        <tr class="tr"><td class="color">单价</td><td><span class="price">￥6.5</span><span>元/㎡/天</span></td><td class="color">面积</td><td><span class="price">175</span><span>㎡</span></td></tr>
        <tr class="tr"><td class="color">装修</td><td>精装</td><td class="color">最短租期</td><td>3年</td></tr>
        <tr class="tr"><td class="color">交付状态</td><td>标注交付</td><td class="color">装修免租</td><td>一个月</td></tr>
        <tr class="tr"><td class="color">看房时间</td><td>8:00-20:00</td><td class="color">是否结佣</td><td>一个月</td></tr>
        <tr class="tr"><td class="color">交付时间</td><td>2015-06-21（现房）</td><td></td><td></td></tr>
        <tr class="tr"><td class="color">付款方式</td><td>押三付一（含发票）</td><td></td><td></td></tr>
    </table>
    <span class="content-text">该广场是一个集商业、办公的综合楼项目，采用高低双塔楼设计，使整体外形增加层次感，有变化及更富趣味。东南角地处世纪大道及张杨路交汇处，称为场地主入口广场。两座塔楼之间采用
        玻璃顶棚作为中庭大堂，南北贯通。塔楼A为18层，塔楼B为23层。地下室为三层，用作地下车库和设备用房及人防。</span>
</div>
<div class="write">编辑</div>
</body>
</html>