<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <title>我发布的需求</title>
    <link rel="stylesheet" href="../../public/css/info/my_need.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">我发布的需求</span>
</header>
<div class="content">
    <div class="content_box">
        <div class="content_box_first">
            <span class="content_box_first_text">一个新的租房需求</span>
            <span class="date">08/04/13:06</span>
            <div class="content_box_first_img"></div>
            <span class="content_box_first_text1">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天左右。附近有地铁</span>
            <div class="realize">了解详情</div>
        </div>
    </div>
</div>
</body>
</html>