<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <title>预约房源</title>
    <link rel="stylesheet" href="../../public/css/info/order.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">我预约的房源</span>
</header>
<div class="content">
    <span class="head">东方金融中心</span><span class="thing">待接单</span><br/>
    <span class="text">浦东-八佰伴</span>
    <div class="business">商务中心</div>
    <span class="price">￥7</span><span>元/平米/天起</span><span class="commission">佣金：1个月</span>
</div>
<div class="content">
    <span class="head">东方金融中心</span><span class="thing">完成</span><br/>
    <span class="text">浦东-八佰伴</span>
    <div class="business">商务中心</div>
    <span class="price">￥7</span><span>元/平米/天起</span>
</div>
</body>
</html>