<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <title>个人资料</title>
    <link rel="stylesheet" href="../../public/css/info/person-message.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">个人资料</span>
</header>
<div class="content">
    <div class="head-portrait"></div>
    <span class="project">普殅地产</span>
    <br/>
    <span class="name">以前喜欢一个人，现在喜欢一个人</span>
    <br/>
    <div class="write">编辑个人资料</div>
</div>
<div class="down">
    <table class="lable">
        <tr class="height"><td>企业邮箱/公司司机</td><td>8235464152qq.com</td></tr>
        <tr class="height"><td>联系人</td><td>张三</td></tr>
        <tr class="height"><td>联系方式</td><td>18956024163</td></tr>
        <tr class="height"><td>微信号码</td><td>18956024163</td></tr>
    </table>
    <div class="about">
        <div class="about-box">微信二维码</div>
        <div class="about-box">营业执照</div>
        <div class="about-box">租售代理协议</div>
    </div>
</div>
</body>
</html>