body {
  background: #efefef;
  margin: 0;
  padding: 0;
}
body .header {
  height: 35px;
  background: #fff;
  line-height: 35px;
}
body .header .icon-back {
  content: '';
  position: absolute;
  left: 15px;
  display: block;
  width: 20px;
  height: 36px;
  background: url("../../../public/img/APP/loading/nav_back_icon@2x.png") no-repeat 0 center;
  background-size: 50%;
}
body .header .header_title {
  display: inline-block;
  width: 100%;
  color: #ed692b;
  text-align: center;
  font-weight: bold;
}
body .form-list {
  height: 200px;
  padding: 0;
  margin-top: 20px;
}
body .form-list .form-cell {
  display: flex;
  height: 40px;
  line-height: 40px;
}
body .form-list .form-cell .form-cell-name {
  display: inline-block;
  width: 50px;
  padding-left: 30px;
  background: url("../../../public/img/APP/loading/content_ID_icon@2x.png") 5px 10px no-repeat #fff;
  background-size: 25% 50%;
}
body .form-list .form-cell .form-cell-input {
  flex: 1;
  border: none;
  outline: none;
}
body .form-list .number {
  border-top: 1px solid #d6d7dc;
  height: 40px;
  line-height: 40px;
  background: #fff;
}
body .form-list .number .form-cell-num {
  display: inline-block;
  width: 80px;
  padding-left: 30px;
  background: url("../../../public/img/APP/loading/content_verify_icon@2x.png") 5px no-repeat #fff;
  background-size: 15px 18px;
}
body .form-list .number .form-key-word {
  border: none;
  outline: none;
  margin-left: -15px;
  width: 100px;
}
body .form-list .number .btn {
  height: 30px;
  line-height: 30px;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  background: #ea5404;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  border: none;
}
body .form-list .form-cell-password {
  display: flex;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #d6d7dc;
}
body .form-list .form-cell-password .form-cell-key {
  display: inline-block;
  width: 50px;
  padding-left: 30px;
  background: url("../../../public/img/APP/loading/content_password_icon@2x.png") 5px 10px no-repeat #fff;
  background-size: 25% 50%;
}
body .form-list .form-cell-password .form-cell-key1 {
  display: inline-block;
  border-top: 1px solid #d6d7dc;
  width: 50px;
  padding-left: 30px;
  background: url("../../../public/img/APP/loading/content_password_icon@2x.png") 5px 10px no-repeat #fff;
  background-size: 25% 50%;
}
body .form-list .form-cell-password .form-cell-keyword {
  flex: 1;
  border: none;
  outline: none;
}
body .form-list .form-person {
  border-top: 1px solid #d6d7dc;
  height: 40px;
  line-height: 40px;
  background: #fff;
}
body .form-list .form-person .form-cell-person {
  display: inline-block;
  width: 80px;
  padding-left: 30px;
  background: url("../../../public/img/APP/loading/content_position_icon@2x.png") 5px no-repeat #fff;
  background-size: 15px 18px;
}
body .form-list .form-person .form-cell-kind {
  border: none;
  outline: none;
  margin-left: -15px;
  width: 100px;
}
body .form-list .list {
  display: none;
  position: absolute;
  border-radius: 5px;
  margin-top: -20px;
  float: right;
  right: 10px;
}
body .form-list .list .drop-down-list {
  width: 65px;
  height: 140px;
  list-style: none;
  border-radius: 5px;
}
body .form-list .list .drop-down-list .down-list {
  background: #a3a3a3;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
}
body .form-list .form-person-img {
  content: '';
  position: absolute;
  float: right;
  margin-top: -25px;
  right: 10px;
  display: block;
  width: 20px;
  height: 16px;
  background: url("../../../public/img/APP/partent/content_list_icon01@2x.png") no-repeat 0 center;
  background-size: 75%;
}
body .bt_box .bt_login {
  margin-left: 5px;
  margin-right: 5px;
  width: 95%;
  height: 44px;
  background: #c7c7c7;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 40px;
  border: none;
}
body .text {
  font-size: 12px;
  margin-left: 20%;
  margin-top: 10px;
}
body .text .name {
  color: #ea5404;
}
