<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/css/login/login-input.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">登录</span>
</header>
<article class="form-list">
    <section class="form-cell">
        <span class="form-cell-name">账号：</span>
        <input class="form-cell-input" type="text" placeholder="18765017796">
    </section>
    <section class="form-cell-password">
        <span class="form-cell-key">密码：</span>
        <input class="form-cell-keyword" type="password" placeholder="***">
    </section>
</article>

<div class="bt_box">
    <button class="bt_login">登录</button>
</div>
<div class="form-loading">
    <span class="form-loading-register">注册</span>
    <span class="form-forget">忘记密码?</span>
</div>

</body>
</html>