<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <title>上传合同书</title>
    <link rel="stylesheet" href="../../public/css/appointment/upload.css">
</head>
<body>
<header class="header">
    <span class="icon-back">取消</span>
    <span class="header_title">上传合同书</span>
    <span class="icon-release">上传</span>
</header>
<div class="content">
    <span class="content_text">请按照要求添加照片</span>
    <div class="content_first">合同第一页</div>

</div>
</body>
</html>