<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <title>消息</title>
    <link rel="stylesheet" href="../../public/css/msg/msg_message.css">
</head>
<body>
<header class="tab_box">
    <ul class="tab_bar">
        <li class="tab_bar_cell1" id="active">消息</li>
        <li class="tab_bar_cell">通知</li>
        <li class="tab_bar_cell2">需求<sup>3</sup></li>
    </ul>
</header>
<div class="content">
    <div class="content_box">
        <div class="content_box_first">
            <span class="content_box_first_text">你眼中“最美夜滨江”摄影征集启动啦！</span>
            <div class="line"></div>
            <span class="content_box_first_text1">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
            <span class="date">08/04/13:06</span>
        </div>
        <div class="content_box_first">
            <span class="content_box_first_text">你眼中“最美夜滨江”摄影征集启动啦！</span>
            <div class="line"></div>
            <span class="content_box_first_text1">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
            <span class="date">08/04/13:06</span>
        </div>
        <div class="content_box_first">
            <span class="content_box_first_text">你眼中“最美夜滨江”摄影征集启动啦！</span>
            <div class="line"></div>
            <span class="content_box_first_text1">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
            <span class="date">08/04/13:06</span>
        </div>
        <div class="content_box_first">
            <span class="content_box_first_text">你眼中“最美夜滨江”摄影征集启动啦！</span>
            <div class="line"></div>
            <span class="content_box_first_text1">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
            <span class="date">08/04/13:06</span>
        </div>
        <div class="content_box_first">
            <span class="content_box_first_text">你眼中“最美夜滨江”摄影征集启动啦！</span>
            <div class="line"></div>
            <span class="content_box_first_text1">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</span>
            <span class="date">08/04/13:06</span>
        </div>
    </div>
</div>
<div class="bottom">
    <ul class="bottom-list">
        <li class="list-first">首页</li>
        <li class="list-second">预约</li>
        <li class="list-third"></li>
        <li class="list-forth">信息</li>
        <li class="list-fifth">我</li>
    </ul>
</div>
</body>
</html>