<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <title>msg_demand</title>
    <link rel="stylesheet" href="../../public/css/msg/msg_demand.css">
</head>
<body>
<header class="tab_box">
    <ul class="tab_bar">
        <li class="tab_bar_cell1">消息</li>
        <li class="tab_bar_cell">通知</li>
        <li class="tab_bar_cell" id="active">需求</li>
    </ul>
</header>
<div class="content">
    <div class="content_box">
        <div class="content_box_first">
            <span>一个新的租房需求</span>
            <span class="tenant">租户</span>
            <div class="content_box_first_img"></div>
            <span class="content_box_first-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天，附近有地铁</span>
            <div class="realize">了解详情</div>
            <span class="date">08/04/13:06</span>
        </div>
        <div class="content_box_first">
            <span>一个新的租房需求</span>
            <span class="broker">经纪人</span>
            <div class="content_box_first_img"></div>
            <span class="content_box_first-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天，附近有地铁</span>
            <div class="realize">了解详情</div>
            <span class="date">08/04/13:06</span>
        </div>
        <div class="content_box_first">
            <span>一个新的租房需求</span>
            <span class="busiess">招商</span>
            <div class="content_box_first_img"></div>
            <span class="content_box_first-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天，附近有地铁</span>
            <div class="realize">了解详情</div>
            <span class="date">08/04/13:06</span>
        </div>
        <div class="content_box_first">
            <span>一个新的租房需求</span>
            <span class="agent">代理商</span>
            <div class="content_box_first_img"></div>
            <span class="content_box_first-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天，附近有地铁</span>
            <div class="realize">了解详情</div>
            <span class="date">08/04/13:06</span>
        </div>
    </div>
</div>
<div class="bottom">
    <ul class="bottom-list">
        <li class="list-first">首页</li>
        <li class="list-second">预约</li>
        <li class="list-third"></li>
        <li class="list-forth">信息</li>
        <li class="list-fifth">我</li>
    </ul>
</div>
</body>
</html>