<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <title>新增楼盘</title>
    <link rel="stylesheet" href="../../public/css/release/increase.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">新增楼盘</span>
</header>
<div class="content">
    <input class="name" type="text" placeholder="输入您想要增加的楼盘">
    <input type="text" class="tel_num" placeholder="输入楼盘的地址">
    <div class="btn">确定提交</div>
</div>
</body>
</html>