body {
  background: #efefef;
  margin: 0;
  padding: 0;
}
body .header {
  height: 35px;
  background: #fff;
  line-height: 35px;
}
body .header .icon-back {
  content: '';
  position: absolute;
  left: 15px;
  display: block;
  width: 20px;
  height: 36px;
  background: url("../../../public/img/APP/loading/nav_back_icon@2x.png") no-repeat 0 center;
  background-size: 50%;
}
body .header .header_title {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
body .logo {
  height: 215px;
}
body .logo .logo-img {
  position: absolute;
  top: 15%;
  left: 40%;
  background: url("../../../public/img/APP/about/content_img_logo@2x.png") no-repeat;
  width: 75px;
  height: 75px;
  background-size: 100%;
}
body .logo .project_name {
  color: #ea5404;
  display: inline-block;
  position: absolute;
  top: 28%;
  left: 35%;
  font-weight: bold;
}
body .logo .version {
  color: #b3b3b7;
  display: inline-block;
  position: absolute;
  top: 28%;
  left: 55%;
}
body .about {
  height: 50px;
  color: #323232;
  background: #fff;
  line-height: 50px;
  margin-top: 15px;
  padding-left: 15px;
  font-size: 14px;
}
body .about .img {
  float: right;
  background: url("../../../public/img/APP/me/content_list_right_icon@2x.png") no-repeat 0 15px;
  width: 30px;
  height: 30px;
  background-size: 30%;
}
body .about .text {
  float: right;
  margin-right: 50px;
  font-size: 12px;
  color: #9c9999;
}
body .about .img1 {
  float: right;
  margin-right: -120px;
  background: url("../../../public/img/APP/me/content_list_right_icon@2x.png") no-repeat 0 15px;
  width: 30px;
  height: 30px;
  background-size: 30%;
}
body .about .img {
  float: right;
  background: url("../../../public/img/APP/me/content_list_right_icon@2x.png") no-repeat 0 15px;
  width: 30px;
  height: 30px;
  background-size: 30%;
}
body .copyright {
  display: inline-block;
  position: fixed;
  bottom: 60px;
  font-size: 14px;
  color: #9c9999;
  left: 30%;
}
