body {
  background: #121211;
  margin: 0;
  padding: 0;
}
body .head-img {
  height: 190px;
  padding: 15px;
  background: url("../../../public/img/APP/apartment/banner_img@12x.png") no-repeat;
  background-size: 100%;
}
body .head-img .head-img-bar {
  position: absolute;
  float: left;
  background: url("../../../public/img/APP/apartment/nav_back_icon@2x.png") no-repeat;
  width: 20px;
  height: 36px;
  background-size: 50%;
}
body .text {
  margin-top: -40px;
  padding: 15px;
}
body .text .text-left {
  color: #ea5404;
  font-size: 18px;
}
body .text .date {
  font-size: 12px;
  color: #fff;
}
body .text .number {
  float: right;
  margin-right: 20px;
  font-size: 22px;
  color: #fff;
}
body .text .month {
  float: right;
  margin-right: -30px;
  margin-top: 5px;
  font-size: 12px;
  color: #fff;
}
body .content {
  padding: 15px;
}
body .list {
  color: #fff;
  font-size: 14px;
}
body .list .tr {
  height: 44px;
}
body .list .tr .color {
  color: #777;
  font-size: 12px;
  width: 70px;
}
body .list .tr .price {
  font-size: 18px;
  color: #ea5404;
}
body table tr td {
  border-top: 1px solid #474743;
}
body .content-text {
  color: #707070;
  font-size: 12px;
}
body .write {
  position: fixed;
  bottom: 0;
  height: 45px;
  line-height: 45px;
  color: #fff;
  padding-left: 45%;
  width: 100%;
  background: #ea5404;
}
