body
    background #efefef
    margin 0
    padding 0
    .tab_box
        height 32px
        padding 8px 0
        background #fff
        .tab_bar
            display flex
            list-style none
            width 80%
            height 30px
            margin 0 auto
            padding 0
            border-radius 5px
            border 1px solid #ff6666
            color #ff6666
            .tab_bar_cell1
                flex 1
                line-height 30px
                text-align center
            .tab_bar_cell
                flex 1
                line-height 30px
                text-align center
                &:after
                    content ''
                    display block
                    width 1px
                    height 30px
                    background-color #ea5404
                    margin-top -30px
            #active
                background #ea5404
                color #fff
    .content
        height 550px
        padding 15px
        .content_box
            height 535px
            .content_box_first
                padding 15px
                background white
                height 95px
                border-radius 5px
                margin-bottom 10px
                .tenant
                    margin-top -5px
                    float right
                    width 55px
                    height 25px
                    line-height 25px
                    font-size 12px
                    background #15b755
                    text-align center
                    color #fff
                    border-radius 3px
                .broker
                    background #0193e6
                    margin-top -5px
                    float right
                    width 55px
                    height 25px
                    line-height 25px
                    font-size 12px
                    text-align center
                    color #fff
                    border-radius 3px
                .busiess
                    background #97b715
                    margin-top -5px
                    float right
                    width 55px
                    height 25px
                    line-height 25px
                    font-size 12px
                    text-align center
                    color #fff
                    border-radius 3px
                .agent
                    background #ea5404
                    margin-top -5px
                    float right
                    width 55px
                    height 25px
                    line-height 25px
                    font-size 12px
                    text-align center
                    color #fff
                    border-radius 3px
                .content_box_first_img
                    height 4px
                    margin-top 10px
                    margin-bottom 5px
                    background url("../../../public/img/APP/need/content_list_border.9@2x.png") no-repeat
                .content_box_first-text
                    font-size 12px
                .realize
                    position absolute
                    left 40%
                    width 65px
                    height 25px
                    padding-left 20px
                    background #efeff4
                    color #707071
                    border-radius 5px
                    font-size 12px
                    line-height 25px
                    margin-top 5px
                .date
                    font-size 12px
                    float right
                    color #7f7f7f
                    margin-top 30px
    .bottom
            position fixed
            height 50px
            background #fff
            bottom 0
            left 0
            right 0
            .bottom-list
                list-style none
                font-size 12px
                .list-first
                    float left
                    color #b4b4b4
                    background url("../../img/APP/bottom-bar/bottom_nor_icon04@2x.png") no-repeat
                    background-size 95% 35%
                    padding 25px 0
                .list-second
                    float left
                    margin-left 40px
                    color #b4b4b4
                    background url("../../img/APP/bottom-bar/bottom_nor_icon03@2x.png") no-repeat
                    background-size 95% 35%
                    padding 25px 0
                .list-third
                    float left
                    margin-left 40px
                    width 88px
                    height 66px
                    background url("../../img/APP/bottom-bar/bottom_icon05@2x.png") no-repeat
                    background-size 60% 80%
                    margin-top -10px
                .list-forth
                    float left
                    margin-right 40px
                    color #b4b4b4
                    background url("../../img/APP/bottom-bar/bottom_press_icon02@2x.png") no-repeat
                    background-size 95% 35%
                    padding 25px 0
                .list-fifth
                    float left
                    margin-right 40px
                    color #b4b4b4
                    background url("../../img/APP/bottom-bar/bottom_nor_icon01@2x.png") no-repeat
                    background-size 100% 35%
                    padding 25px 0