<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,
    meximum-scale=1，minimum-scale=1,user-scable=no">
    <meta http-equiv="X-UA-COMPATIBLE" content="ie=edge ">
    <title>head</title>
    <link rel="stylesheet" href="../../public/css/head/head.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="head_title">个人资料</span>
</header>
<div class="info_box">
    <div class="info_img"></div>
    <div class="info_name"></div>
    <div class="info_desc"></div>
    <div class="info_edit"></div>
</div>
<div class="info-cells">
    <div class="info-cell">
        <span class="info-name"></span>
        <span class="info-content"></span>
    </div>
    <div class="image-cell">
        <img src="" alt="">
        <p class="title"></p>
    </div>
</div>
</body>
</html>