body
    background #efefef
    margin 0
    padding 0

    .header
        height 35px
        background #fff
        line-height 35px
        .icon-back
            position absolute
            left 15px
            font-weight bold
        .header_title
            display inline-block
            width 100%
            text-align center
            font-weight bold
        .icon-release
            position absolute
            right 15px
            color #ea5404
            top 0
            font-weight bold
    .content
        width 60%
        height 50%
        border 1px solid red

