body
    background #a7a7aa
    margin 0
    padding 0
    .content
        position absolute
        left 15%
        top 40%
        width 270px
        height 110px
        background #fff
        border-radius 10px
    .text-top
        display inline-block
        margin-left 25%
        height 60px
        line-height 60px
        font-size 14px
        color #5c5c5c
    .line
        background #d6d7dc
        height 1px
    .text-bottom
        display inline-block
        margin-left 45%
        height 45px
        line-height 45px
        color #ea5404